

input:focus, button:focus {
    outline: none;
}

.sidebar {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 30%;
    gap: 5px;
}

.status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 10%;
    width: 100%;
    padding: 10px;
    border: 1px black solid;
    background-color: rgb(251, 249, 240);
    border-radius: 10px;
}

.controls-container {
    /* height: 100%;
    width: 30%; */
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;
    gap: 10px;

    border: 1px black solid;
    background-color: rgb(251, 249, 240);

    overflow-y: auto;

    border-radius: 10px;
}

.control {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* flex: 0 1 33.33%; */
    height: 33.3%;
    width: 100%;
    padding: 10px;
    border: 1px black solid;
    background-color: rgb(253, 240, 204);

    /* overflow-y: auto; */
}

.control:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.control:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.interactives {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.control button, input, select {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.control button:hover {
    background-color: #f0f0f0;
}

.control button:active {
    transform: scale(.85);
    background-color: #f0f0f0;
}