

.map-container {
    height: 100%;
    width: 70%;
    border: 1px black solid;
    border-radius: 10px;
    overflow: hidden;
}

.vehicle-icon {
    background: white;
    border: 3px solid rgb(255, 255, 255);
    padding: 2px 5px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}